jobname="Spark_Streaming_MQ"
input="ibmmq"
output="console"
mq_qmgr_host="hdpclient.hdp.example.org"
mq_qmgr_port="1414"
mq_qmgr_name="GSSMQP1"
mq_qmgr_channel="SPARK.CLIENT"
mq_queue="GSS.REQUEST.REPLY.QUEUE"
mq_password="mqtest1"
mq_username="mqtestuser"
mq_keep_messages="false"
mq_max_batch_rate="4000"
batch_duration="10000"

#keytab configuration
spark_keytab="/etc/security/keytabs/sparkstreaming.keytab"
